@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ‘Roboto’, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo__wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    margin: 30px;
    height: 40px;
}

.logo__part__two {
    font-size: 25px;
    font-weight: bold;
}

.nav__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    padding-bottom: 20;
    gap: 20px;
}

.oval-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.burger__menu {
    display: none;
}

/*

Features

*/

.features__row {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .column-1 {
    width: 60%
    margin-left: 2%;
    margin-right: 1%;
    background-color: #f0f0f0;
  }
  
  .column-2 {
    width: 40%
    margin-left: 1%;
    margin-right: 2%;
    background-color: #e0e0e0;
  }

  .header__image__wrapper {
    text-align:center;
  }

  .responsive-image {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  h1 {

  }